{% extends "base.html" %}
{% load taggit_extras %}

{% block title %} Docunizer -
{% if doc %}{{ doc.title }}{% else %}New document{% endif %}
{% endblock %}

{% block content %}
<form class="ym-form ym-full" action="/search">
<input type="text" id="search"></input><button class="ym-button ym-next">Search</button>
</form>

<a href="/add" class="ym-button ym-add">Add new document</a>

{% get_tagcloud as tags for 'documents' %}
<div>
{% for tag in tags %}
{% if tag.num_times > 0 %}
<a class="tagsize-{{tag.weight|floatformat:0}}" href="/tag/{{  tag|slugify }}">{{tag.name}}</a> 
{% endif %}
{% endfor %}
</div>


{% endblock %}
