<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Mobile viewport optimisation -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/static/css/flexible-columns.css" rel="stylesheet" type="text/css"/>
  <script src="/static/taggit_autocomplete_modified/jquery.min.js"></script>  
  <script src="/static/taggit_autocomplete_modified/jquery.autocomplete.js"></script>
  <link href="/static/taggit_autocomplete_modified/jquery.autocomplete.css" rel="stylesheet" type="text/css"/>
  <!--[if lte IE 7]>
  <link href="/static/yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<ul class="ym-skiplinks">
	<li><a class="ym-skip" href="#nav">Skip to navigation (Press Enter)</a></li>
	<li><a class="ym-skip" href="#main">Skip to main content (Press Enter)</a></li>
</ul>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<header>
			<h1>Docunizer</h1>
		</header>
		<nav id="nav">
			<div class="ym-hlist" >
				<ul>
					<li class="active"><strong>Active</strong></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Tags</a></li>
					<li><a href="#">Add</a></li>
				</ul>
				<form class="ym-searchform">
					<input class="ym-searchfield" type="search" placeholder="Search..." />
					<input class="ym-searchbutton" type="submit" value="Search" />
				</form>
			</div>
		</nav>
		<div id="main">
			<div class="ym-grid">
				<div class="ym-gl ym-g20">
					<div class="ym-cbox-left">
{% block sidebar %}<h1>Recently visited</h1>{% endblock %}					
                                        </div>
				</div>

				<div class="ym-gr ym-g80">
					<div class="ym-cbox">						
{% block content %}{% endblock %}
                                        </div>
				</div>
			</div>
		</div>
		<footer>
			<p>&copy; Martin Hans 2012 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
		</footer>
	</div>
</div>

<!-- full skip link functionality in webkit browsers -->
<script src="../yaml/core/js/yaml-focusfix.js"></script>
</body>
</html>

